port = 9000

base_url = "http://localhost:9000" # External URL of the authorization server

[database]
host = "db"
port = 5432
database_name = "postgres"
auth.method = "CREDENTIAL"
auth.username = "postgres"
auth.password = "password"

[upstream_idp]
type = "SAML"
sso_url = "<fill in your IdP single sign-on URL>"
idp_issuer = "<fill in your IdP issuer URL>"
entity_id = "<fill in your entity ID>"
ca = "<fill in you CA>" # ex) "-----BEGIN CERTIFICATE-----\nblabla...\n...blabla\n-----END CERTIFICATE-----"
attributes = { type = "ALL" } # or { type = "MAPPING", claims = [["email_from_idp", "email"], ["name_from_idp", "derived_name"]] }
# if you want to use group-based authorization, you can specify the group attribute and admin groups
# if not, members who can authenticate will be treated as admin
# group_attribute = "group"
# admin_groups = ["ADMINSTRATOR"]

[workspace]
type = "STATIC"
name = "default" # Change this to the name of your workspace

# or "CLAIM" if you want to specify the workspace by the claim value
# [workspace]
# type = "CLAIM"
# claim = "workspace" # Change this to the claim key of your workspace
