port = 8080
jwks_url = "http://authorization:9000/jwks"

[database]
host = "db"
port = 5432
database_name = "postgres"
auth.method = "CREDENTIAL"
auth.username = "postgres"
auth.password = "password"
