.mainHeader {
  padding: 8rem 2rem;
  text-align: center;
  background: var();
}

.title {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.2;
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1.5rem;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.subtitle {
  font-size: 1.25rem;
  max-width: 600px;
  margin: 0 auto 2rem;
}

@media screen and (max-width: 996px) {
  .mainHeader h1 {
    font-size: 2.5rem;
  }
}